//VARS AT 01_SETTINGS LAYER
@import "~bootstrap/scss/buttons";

.c-button {
	text-transform: uppercase;
    font-weight: $font-weight-bold;
	font-size: $font-size-base;
    color: map-get($colors, "white");
	
}  