.c-menu {
	@extend .navbar;
    @extend .navbar-expand-lg;
    @extend .navbar-light;
    
    font-family: $c-font-family-sans;
    font-size: $font-size-base;
}

.c-menu__logo {
    @extend .navbar-brand;
    @include spacing('p', (4 4 4 4));
    display: inline-block;  
}
 
.c-menu__toggler {
    @extend .navbar-toggler;
    
    span {
        @extend .navbar-toggler-icon;
    }
}

.c-menu__navbar-wrapper {
    @extend .collapse;
    @extend .navbar-collapse;
}

.c-menu__navbar {
    @extend .navbar-nav;
}

.c-menu__item {
    @extend .nav-item;
    
    & a {
        @extend .nav-link;
        @include spacing('p','y', 5);
        @include spacing('p','x', 4);
        @include spacing('m','x', 2);
        text-transform: uppercase;
        font-weight: 600;
    }
    
    &--active {
        a {
            //.nav-link need to be overwriten in order to make BEM modifiers work;
            color: $navbar-light-active-color!important;
        }    
    }
}


/*.c-menu__button {
	//STRUCTURE
	position: absolute;
	top: .5em;
	right: .75em;
}

.c-menu__wrapper {
	//STRUCTURE
	display: none;
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;$
	background-color: $white;
	
	& .close {
		//STRUCTURE
		position: absolute;
		top: 0;
		right: 0;
	}

	&.is-visible {
		//STRUCTURE
		display: block;
	}
}

.c-menu__nav {
	//STRUCTURE
	@extend .nav;
	@extend .d-inline-block;
	position: absolute;
	top: 50vh;
	margin-top: -25vh;
	width: 100%;

	& .nav-item {
		//STRUCTURE
		width: 100%;
		display: block;
		text-align: center;
	}
}
*/

@include media-breakpoint-up(lg) {	
	.c-menu {
		//STRUCTURE
		@include make-col(12);
	}
    /*
	.c-menu__button {
		//STRUCTURE
		display: none;
	}

	.c-menu__wrapper {
		//STRUCTURE
		display: block;
		width: auto;
		height: auto;
		position: initial;
		background-color: initial;

		& .close {
			//STRUCTURE
			display: none;
		}
	}

	.c-menu__nav {
		//STRUCTURE
		position: relative;
		top: 0;
		margin-top: 0;

		& .nav-item {
			//STRUCTURE
			width: auto;
			display: inline-block;
			text-align: initial;
			//SPACING
			padding: 4.5rem 1.2rem;
		}
	}*/
}