.l-featured-block {
	@extend .mx-lg-auto;
    @extend .py-5;
}

.l-featured-block__image-placeholder {
	@include make-col(12);
    background-position-y: map-get($spacers, 3);
    background-repeat: no-repeat; 
}
.l-featured-block__image-placeholder:first-child {
    background-position-x: map-get($spacers, 3) * -1;
}
.l-featured-block__image-placeholder:last-child {
    background-position-x: map-get($spacers, 3);
}

.l-featured-block__header {
	@include make-col(12);
	@extend .py-3;
    & *:first-child {
        line-height: $h3-font-size / 1.3;
    } 
}

.l-featured-block__content-wrapper {
	@extend .mx-lg-0;
}
.l-featured-block__content-wrapper:first-child {
    @extend .pr-3;
}

.l-featured-block__content-wrapper:last-child {
    @extend .pl-3;
}

@include media-breakpoint-up(sm) {
	.l-featured-block {
		@include make-container;
		@include make-container-max-widths;
	}

	.l-featured-block__media-wrapper {
		@include make-container();
	}
	
	.l-featured-block__media-inner-wrapper {
		@include make-row;
	}

	.l-featured-block__media-item {
		@include make-col(6);
	}
}

@include media-breakpoint-up(md) {	
	.l-featured-block__header {
		@include make-col(4);
	}
	
	.l-featured-block__content-wrapper {
		@include make-row;
	}

	.l-featured-block__media-wrapper {
		@include make-col(8);
		@include make-container;
	}
}

@include media-breakpoint-up(lg) {
	.l-featured-block {
		@include make-container;
		@include make-container-max-widths;
		@include make-row;
	}

	.l-featured-block__image-placeholder {
		@include make-col(4);
	}
	
	.l-featured-block__header {
		@include make-col(12);
	}

	.l-featured-block__media-wrapper {
		@include make-col(12);
	}

	.l-featured-block__content-wrapper {
		@include make-col(8);
	}
}