.l-header {
	position: sticky;
	top:0;
	z-index: 1;
	max-height:	0;
	background-color: $white;
}

.l-header__preheader {
	display: none;
}

.l-header__header-content {
	//display: none;
}

.l-header__logo {
}

@include media-breakpoint-up(lg) {	
	.l-header {
		max-height:	initial;
	}
}