<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>title</title> 
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    {{> 04_templates/l-header }}
    {{> @partial-block }}
    <footer class="container-fluid">
      <div class="container"> 
        <div class="row"> 
          <div class="col-6">footer-a</div>
          <div class="col-6">footer-b</div>
        </div>
      </div>
  </footer>
  </body>
</html> 