<header class="l-header container-fluid">
    <div class="container">
      <div class="l-header__preheader row">
          <div class="col-6">
              <span class="l-header__phone-info">
                  Call us 000000000
              </span>
              <span class="l-header__phone-email">info@xxxx.com</span>
              <span class="l-header__phone-street">C/ Doe avenue</span>
          </div>

          
          <button type="button" class="c-button btn btn-secondary py-3 px-4"><span>Pide cita!</span></button>

          <hr/>
      </div>
      <div class="l-header__header-content row">
          {{>c-menu}}
        <!--
            <ul class="nav d-inline-block col-9 text-right">
                <li class="nav-item d-inline-block">
                  <a class="nav-link active" href="#">Active</a>
                </li>
                <li class="nav-item d-inline-block">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item d-inline-block">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item d-inline-block">
                  <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
        -->
      </div>
    </div>
</header>